@import "tailwindcss";

:root {
  --background: linear-gradient(135deg, var(--rematchRed),  var(--rematchGreen));
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
  --font-caveat-brush: "Caveat Brush", cursive;
  --rematchRed: #e16449;
  --beige: #fce8e4;
  --pastelBlue: #e7e7e7;
  --rematchGreen: #34ce46;
  --pastelGreen: #e4fce7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  background-attachment: fixed; /* Prevents scrolling from affecting the gradient */
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-inter);
}

.caveatBrush {
  font-family: var(--font-caveat-brush);
}

.rematchRed {
  background: var(--rematchRed)
}

.rematchGreen {
  background: var(--rematchGreen)
}

.pastelBlue {
  background: var(--pastelBlue)
}