@import "tailwindcss";


:root {
  --background: linear-gradient(135deg, var(--pastelRed),  var(--pastelGreen));
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
  --font-lilita-one: "Lilita One", sans-serif;
  --rematchRed: #e16449;
  --beige: #fce8e4;
  --pastelBlue: #e7e7e7;
  --rematchGreen: #34ce46;
  --pastelGreen: #D3E9D7;
  --pastelRed: #DBBBB8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  background-attachment: fixed; 
  background-size: cover;
  color: var(--foreground);
  font-family: var(--font-inter);
}

.lilitaOne {
  font-family: var(--font-lilita-one);
}

.rematchRed {
  background: var(--rematchRed);
}

.rematchGreen {
  background: var(--rematchGreen);
}

.pastelBlue {
  background: var(--pastelBlue);
}

.gradientLine {
  background: linear-gradient(135deg, var(--right),  var(--left));
}
